# Variables
This notebook focuses on exemplification of how verables are declared and used.

## Variable naming
Let's explore the basics of variable naming from simple to complex variable names.

In [1]:
x = 1 # using standard variable names
x1 = 2 # a variable containing numbers in its name
_x = 3 # a variable containing underscore in its name
X_y_1 = 4 # a variable with a complex name

print(x, x1, _x, X_y_1)

1 2 3 4

## Dynamic semantics
Let's explore the concept of dynamic semantics by assignig different values with diferent types to the same variable.

The **type** function returns the type of a certain variable.

In [2]:
data = 1 # assigning a numerical value to the variable
print("Data value is ", data)
print("Data type value is ", type(data))

data = "A textual value" # assigning a string value to the same variable and changing its semantics
print("Data value is ", data)
print("Data type value is ", type(data))

Data value is  1
Data type value is  <class 'int'>
Data value is  A textual value
Data type value is  <class 'str'>

## Variable deletion
Let's create and delete a variable, the **del** keyword will completely delete a variable.

In [3]:
temp_data = 1 # create a variable
del temp_data # delete the variable by using the del keyword